<h1>Edit Sub</h1>

<form action="<%= sub_url(@sub) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= auth_token %>
  <label>Title
    <input type="text" name="sub[title]" value="<%= @sub.title %>">
  </label>
<br>
<br>
  <label>Description
    <textarea name="sub[description]">
      <%= @sub.title %>
    </textarea>
  </label>

  <input type="submit" value="Edit Sub">

</form>
