<h1>Create new user!!!</h1>


<form action="<%= users_url %>" method="post">
  <label for="username">Username</label>
  <input type="text" id="username" name="user[username]" value="">
  <br><br>
  <label for="password">Password</label>
  <input type="password" id="password" name="user[password]" value="">
  <br><br>

  <input type="submit" value="Create this user!!!">
</form>
