<h1> Cats </h1>
<ul>
  <% @cats.each do |cat| %>
    <li>
      <a href="<%= cat_url(cat) %>" target="false"><%= cat.name %></a>
      <ul>
        <% cat.rental_requests.order('start_date DESC').each do |request| %>
          <li>
            start_date:<%= request.start_date%>
            <br>
            end_date:<%= request.end_date%>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
